node_modules
.yarn/*
!.yarn/releases

# Typescript
tsconfig.tsbuildinfo

# VS-Code
.vscode
coverage

# Storybook
storybook-static/

# bundle preview
bundle-preview/static
!bundle-preview/static/smoot-design/.gitkeep

/**/.yarn/cache
.swc
dist
